/**
 * @file
 * Local CSS - rename this to local.css, check the 
 * box in theme settings and add your own styles here.
 */

h2 {
	font-size: 1.2em;
	margin-bottom: 0.8em;
}

/* Change background to solid */

body.bg-purple-gradient {
  background: #524b6f;
}

/* Display top links as links rather than as menu */

div#block-menu-menu-top-links.block ul.menu {
  text-align: right;
}

div#block-menu-menu-top-links.block ul.menu li.leaf {
  margin: 0;
  padding: 0;
  list-style: none outside none;
}

/* Suppress display of menu titles on sitemap page */

div.site-map-box-menu h2 {
  display: none;
}

/* Suppress display of the logo on the small width screens */

@media only screen and (min-width:300px) and (max-width:460px) {
  #logo {
    display: none;
  }
}

/* Prevent wrap of Search button on smaller displays */
#edit-search-block-form--2 {
  width: 60%;
}

#block-widgets-s-socialmedia-profile-default {
  margin-bottom: 0px;
}

#block-widgets-s-socialmedia-share {
}

div.widgets-style-horizontal {
  margin-right: 4px;
}

#scottish-festival-icon {
  float: left;
  margin-right: 10px;
}

#support-band {
    margin-bottom: 24px;
}

#block-system-user-menu {
  margin-bottom: 0px;
}

#block-system-navigation {
  margin-bottom: 0px;
}

# Navigation (Extra)
#block-block-7 ul {
  margin: 0px;
}

#sidebar-first ul.menu {
  margin: 0px;
}

div.footer-area div.block {
  margin-bottom: 0px;
}

section#block-views-home-page-events-block {
  margin-top: -50px;
}

div#heading-upcoming-events {
	font-weight:bold;
	font-
}

table {
	margin-bottom: 11px;
}

table.no-border,
table.no-border tbody,
table.no-border tr,
table.no-border td{
	border: none;
	background: none;
}

.mailing-address {
	padding-left: 10px;
}

/* Make YouTube embedded video responsive */
/* Source: http://avexdesigns.com/responsive-youtube-embed */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

article p a {
  text-decoration: underline;
}

